
/* display none until init */
.product-carousel{
	display: none;
	opacity:1!important;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
#column-left .product-carousel, #column-right .product-carousel { display:block;}
#column-left .customNavigation, #column-right .customNavigation { display:none;}

#column-left .banners-slider-carousel .customNavigation,
#column-right .banners-slider-carousel .customNavigation{ display:block;}

.product-carousel .slider-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-ms-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
	-webkit-perspective: 1000;
}
.product-carousel .slider-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.product-carousel .slider-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.product-carousel .slider-item{
	float: left;
}
.slider-controls .slider-page,
.slider-controls .slider-buttons div{
	cursor: pointer;
}
.slider-controls {
	-webkit-tap-highlight-color: transparent;
}

/* mouse grab icon */
 



/* fix */
.product-carousel  .slider-wrapper,
.product-carousel  .slider-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
}
.customNavigation    { text-align: right; position:relative;width:100%;z-index: 9;}
.customNavigation a{
	-webkit-tap-highlight-color:transparent;
	display: block;
    float: right;
    position: absolute;
	top: 3px;
	border:1px solid #b3b3b3 ;
	font-size: 20px;
	line-height: 32px;
	padding: 0 14px;
	background: #fff;
	height:35px;
	width:35px;
	line-height: 32px;
	padding: 0 14px;
	color: #b3b3b3 ;
	cursor: pointer;
}

.customNavigation a.prev {  left:0;right: auto;}
.customNavigation a.next {  right:0;left: auto;}
.customNavigation a.prev:before{content:"\f104";font-family:"fontawesome";}
.customNavigation a.next:before{content:"\f105";font-family:"fontawesome";}

.product-image .customNavigation a.prev {left:0; }
.product-image .customNavigation a.next {right:0;}
.product-image  .customNavigation a {top:45px;}
.category .customNavigation a.prev{left:0;right: auto;}
.category .customNavigation a.next{right: 0;left: auto;}
.category .customNavigation a{top: -90px;}
.banners-slider-carousel .product-carousel{  margin:0 auto; padding:0;}

.product-info .product-image .customNavigation    { text-align: center; width:100%; z-index:9;position: relative;}
.product-info .product-image .customNavigation a{
	-webkit-tap-highlight-color: transparent;
	display: block;
}

.product-info .product-image .customNavigation span.prev::before {
    border: 1px solid #e5e5e5;
    color: #b5b5b5;
    content: "\f104";
    font-family: "FontAwesome";
    font-size: 18px;
    font-weight: normal;
	padding: 3px 8px;
   border-radius: 5px;
 	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.product-info .product-image .customNavigation span.prev {
    
    cursor: pointer;
    height: 30px;
    left:0px;
    padding: 4px 0 0;
    position: absolute;
    top: 37px;
	width: 30px;
    transition: all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-ms-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
}
.product-info .product-image .customNavigation span.next::before {
    border: 1px solid #e5e5e5;
    color: #b5b5b5;
    content: "\f105";
    font-family: "FontAwesome";
    font-size: 18px;
    font-weight: normal;
    padding: 3px 8px;
    border-radius: 5px;
 	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}   


.product-info .product-image .customNavigation span.prev:hover 	{text-decoration:none; border-color:#1f2022;}

.product-info .product-image .customNavigation span.prev:hover::before, .product-info .product-image .customNavigation span.next:hover:before{
    color: #1f2022;
}
.product-info .product-image .customNavigation span.prev:hover::before , .product-info .product-image .customNavigation span.next:hover::before {
    background: #fb7c3c none repeat scroll 0 0;
    border: 1px solid #fb7c3c;
    color: #ffffff;
}
.product-info .product-image .customNavigation span.next {	 
    cursor: pointer;
    height: 30px;
    padding: 4px 0 0;
    position: absolute;
    right:0px;
    top: 37px;
	 width: 30px;
    transition: all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-ms-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
}


.product-info .product-image .customNavigation span.next:hover {text-decoration:none; border-color: #1f2022;}
