<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="Client/client-template.html :: head('Profile')"></head>

<body>
<div class="page-wraper">
    <!-- Header -->
    <header th:insert="Client/client-template.html :: header"></header>
    <!-- Header End -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- contact area -->
        <div class="content-block">
            <!-- Browse Jobs -->
            <section class="content-inner bg-white">
                <div class="container">
                    <div class="row" th:object="${user}">
                        <div class="col-xl-3 col-lg-4 m-b30">
                            <div class="sticky-top">
                                <div class="shop-account">
                                    <div class="account-detail text-center">
                                        <div class="my-image">
                                            <a href="javascript:void(0);">
                                                <img alt="" src="Client/images/profile3.jpg">
                                            </a>
                                        </div>
                                        <div class="account-title">
                                            <div class="">
                                                <h4 class="m-b5"><a href="javascript:void(0);" th:text="${user.getFullName}"></a></h4>
                                                <p class="m-b0"><a href="javascript:void(0);" th:text="${user.email}"
                                                ></a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="account-list">
                                        <li>
                                            <a href="my-profile.html" class="active"><i class="far fa-user"
                                                                                        aria-hidden="true"></i>
                                                <span>Profile</span></a>
                                        </li>
                                        <li>
                                            <a href="shop-cart.html"><i class="flaticon-shopping-cart-1"></i>
                                                <span>My Cart</span></a>
                                        </li>
                                        <li>
                                            <a href="wishlist.html"><i class="far fa-heart" aria-hidden="true"></i>
                                                <span>Wishlist</span></a>
                                        </li>
                                        <!--											?????????????-->
                                        <!--											<li>-->
                                        <!--												<a href="books-grid-view.html"><i class="fa fa-briefcase"-->
                                        <!--														aria-hidden="true"></i>-->
                                        <!--													<span>Shop</span></a>-->
                                        <!--											</li>-->
                                        <!--&lt;!&ndash;											???????????&ndash;&gt;-->
                                        <!--											<li>-->
                                        <!--												<a href="support.html"><i class="far fa-id-card"-->
                                        <!--														aria-hidden="true"></i>-->
                                        <!--													<span>Support</span></a>-->
                                        <!--											</li>-->
                                        <!--&lt;!&ndash;											????????????&ndash;&gt;-->
                                        <!--											<li>-->
                                        <!--												<a href="privacy-policy.html"><i class="fa fa-key"-->
                                        <!--														aria-hidden="true"></i>-->
                                        <!--													<span>Privacy Policy</span></a>-->
                                        <!--											</li>-->
                                        <li>
                                            <a th:href="@{/logout}"><i class="fas fa-sign-out-alt"
                                                                       aria-hidden="true"></i>
                                                <span>Log Out</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-8 m-b30">
                            <div class="shop-bx shop-profile">
                                <div class="shop-bx-title clearfix">
                                    <h5 class="text-uppercase">Basic Information</h5>
                                </div>
                                <form th:action="@{'/profile/save/' + ${user.id}}" th:object="${user}" method="post">
                                    <input type="hidden" name="id" th:field="*{id}">
                                    <div class="row m-b30">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="mb-3">
                                                <label for="full-name" class="form-label">Your First Name:</label>
                                                <input type="text" class="form-control" id="full-name"
                                                       th:placeholder="${user.firstName}" th:field="*{firstName}">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="mb-3">
                                                <label for="job" class="form-label">Last Name:</label>
                                                <input type="text" class="form-control" id="job"
                                                       th:placeholder="${user.lastName}" th:field="*{lastName}">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="mb-3">
                                                <label for="country" class="form-label">Occupation:</label>
                                                <input type="text" class="form-control" id="country"
                                                       th:placeholder="${user.occupation}" th:field="*{occupation}">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="mb-3">
                                                <label for="age" class="form-label">Age:</label>
                                                <input type="number" inputmode="numeric" class="form-control" id="age"
                                                       th:placeholder="${user.age}" th:field="*{age}">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="mb-3">
                                                <label for="description"
                                                       class="form-label">Short Description:</label>
                                                <textarea class="form-control" id="description" rows="5" maxlength="255"
                                                          th:placeholder="${#strings.isEmpty(user.description)}?'Nothing here': user.description"
                                                          th:field="*{description}">
													</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shop-bx-title clearfix">
                                        <h5 class="text-uppercase">Contact Information</h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="mb-3">
                                                <label for="phone" class="form-label">Contact Number:</label>
                                                <input type="text" class="form-control" id="phone"
                                                       th:placeholder="${user.phone}" th:field="*{phone}" maxlength="10">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="mb-3">
                                                <label for="text" class="form-label">Country:</label>
                                                <input type="text" class="form-control" id="text"
                                                       th:placeholder="${user.address.country}" th:field="*{address.country}">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="mb-3">
                                                <label for="ward" class="form-label">Ward:</label>
                                                <input type="text" class="form-control" id="ward"
                                                       th:placeholder="${user.address.ward}">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="mb-3">
                                                <label for="province" class="form-label">Province:</label>
                                                <input type="text" class="form-control" id="province"
                                                       th:placeholder="${user.address.province}" th:field="*{address.province}">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="mb-3">
                                                <label for="city" class="form-label">City:</label>
                                                <input type="text" class="form-control" id="city"
                                                       th:placeholder="${user.address.city}" th:field="*{address.city}">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="mb-4">
                                                <label for="full-address" class="form-label">Full
                                                    Address:</label>
                                                <input type="text" class="form-control" id="full-address"
                                                       th:placeholder="${user.address.description}">
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btnhover">Save Setting</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Browse Jobs END -->
        </div>
    </div>
</div>
<!-- Content END-->

<!-- Footer -->
<div th:insert="Client/client-template.html :: footer"></div>
</body>
</html>