/* book title in homepage and books list, book grid*/
.shortTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* book description in homepage*/
.shortDescription {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* book description in book list*/
.shortBookListDescription {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* book detail description*/
.shortBookListDescription {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    text-overflow: ellipsis;
}
